* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	background: #efefef;
}
a {
	text-decoration: none;
	color: #333;
}
.clearFix:after {
	content: '';
	clear: both;
	display: block;
}
.header {
	height: 60px;
	line-height: 60px;
	color: #fff;
	background-color: #06c1ae;
}
.header .go-back {
	float: left;
	position: relative;
}
.header .go-back .arrow {
	position: absolute;
	top: 20px;
	left: 0px;
	border: 10px solid transparent;
	border-right-color: #fff; 
}
.header .arrow .green {
	border-right-color: #06c1ae;
	top: -10px;
	left: -7px;
}
.header .login {
	float: right;
	margin-right: 10px;
	font-size: 14px;
}
.header h1 {
	text-indent: 20px;
	font-size: 24px;
	text-align: center;
}
.search {
	padding: 10px 20px;
	background: #fff;
}
.search input {
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
	background: #efefef;
	border-radius: 20px;
	font-size: 14px;
	border: none;
	outline: none;
	margin-bottom: 5px;
}

/*home样式*/
/*分类*/
.home .types {
	background: #fff;
	margin-bottom: 10px;
}
.home .types li {
	width: 20%;
	float: left;
	text-align: center;
}
.home .types li img {
	width: 60%;
}
.home .types li p {
	font-size: 12px;
	margin: 3px auto 10px;
}
/*广告*/
.home .ads {
	background: #fff;
	margin-bottom: 10px;
}
.home .ads li {
	width: 33.33333333%;
	border-right: 1px solid #ccc;
	float: left;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
.home .ads li:last-child {
	border-right: none;
}
.home .ads li h3 {
	font-size: 18px;

}
.home .ads li p {
	font-size: 14px;
}
.home .ads li img {
	width: 60%;
}
.home .ads li h3.color-0 {
	color: red;
}
.home .ads li h3.color-1 {
	color: blue;
}
.home .ads li h3.color-2 {
	color: green;
}
/*猜你喜欢*/
.guess {
	background: #fff;
}
.guess h2 {
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	margin: 0 10px;
}
.items {
	padding: 0 10px;
}
.items li {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.items li img {
	width: 100px;
	float: left;
}
.items li div.content {
	margin-left: 110px;
}
.items li div.content h3{
	font-size: 14px;
	height: 45px;
}
.items li div.content p{
	font-size: 12px;
}
.items li div.content p span.price{
	color: #06c1ae;
}
.items li div.content p span.sales{
	float: right;
}
/*列表页*/
.list {
	background: #fff;
}
.list .orders {
	border-bottom: 1px solid #ccc;
	height: 30px;
}
.list .orders li {
	width: 25%;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 12px;
	text-align: center;
	border-right: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}
.list .orders li:last-child {
	border-right: none;
}
.list .orders li .arrow {
	position: relative;
	top: 12px;
	left: 3px;
	border: 5px solid transparent;
	border-top: 5px solid #000;
}
.list .load-more {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	background: #fff;
	color: #06c1ae;
	font-size: 16px;
	text-align: center;
}

.list .load-more .arrow {
	font-size: 0;
	border: 10px solid transparent;
	border-top-color: #06c1ae;
	position: relative;
	left: 10px;
}
.list .load-more .arrow.white {
	position: absolute;
	top: -13px;
    left: -10px;
	border-top-color: #fff;	
}
/*detail*/
.detail .img-part {
	position: relative;
}
.detail .img-part img {
	width: 100%;
}
.detail .img-part h1,
.detail .img-part p {
	position: absolute;
	left: 20px;
	bottom: 15px;
	color: #fff;
}
.detail .img-part h1 {
	bottom: 40px;
	font-size: 24px;
}
.detail .price-part {
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
}
.detail .price-part .price {
	color: #06c1ae;
}
.detail .price-part .price strong {
	font-size: 24px;
}
.detail .price-part .origin-price {
	margin-left: 5px;
}
.detail .price-part .buy {
	float: right;
	padding: 8px 14px;
	background-color: #f60;
	line-height: 14px;
	margin: 10px 0;
}

.detail .sales-part {
	margin-bottom: 10px;
	background: #fff;
	padding: 10px 0;
}
.detail .sales-part li {
	float: left;
	width: 50%;
	text-indent: 10px;
	line-height: 30px;
	color: yellowgreen;
}
.detail .sales-part li:last-child {
	color: #666;
}
.detail .module {
	margin-bottom: 10px;
	background: #fff;
	padding: 10px;
}
.detail .module-header {
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	font-size: 20px;
}
.detail .module-body {
	padding: 10px 0;
}
.detail .module-body h3 {
	color: #f60;
	line-height: 40px;
	font-weight: normal;
	font-size: 18px;
}
.detail .module-body p {
	line-height: 26px;
}
.detail .module-footer {
	border-top: 1px solid #ccc;
	color: skyblue;
	line-height: 30px;
	padding-top: 5px;
}